@charset "UTF-8";

@font-face {
    font-family: 'Chiller';
    src: url('./../fonts/CHILLER.woff') format('woff')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app{
    height: 100%;
}
body {
    background-image: url("./../images/mur-lumiere.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-color: #1a0e1b;
    display: flex;
    flex-direction: column;
}

.wrapper{
    flex: 1;
}

.loading{
    font-family: 'Chiller';
    color: #fff;
    font-size: 4vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.container-home{
    height: 73%;
}

.header-toile-flex{
    width: 90%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-family: "Chiller";
    align-items: center;
}

.header-toile-flex .item{
    width: 33.3%;
}

.header-toile-flex-div{
    width: 4%;
}

.header-toile-flex-div figure{
    width: 14%;
    cursor: pointer;
}

.header-toile-flex a:link{
    text-decoration: none;
}

.header-toile-flex a:visited{
    color: #fff;
}

.header-toile-flex a:active{
    color: #fff;
}

.header-toile-flex h1, .header-toile-flex p{
    font-size: 3.5vw;
}

.header-toile-flex img{
    width: 100%;
}

.container-home-rules{
    width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'PT Serif', serif;
    font-size: 1.3vw;
}

.toile-display{
    display: flex;
    height: 100%;
    align-items: center;
}

.toile-display-flex{
    display: flex;
    width: 100%;
    margin: 40px auto 0;
    justify-content: space-between;
}

.toile-display-flex-item{
    width: 100%;
    padding: 0 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.toile-display-verse-ref{
    width: fit-content;
}

.toile-display-verse, .toile-display-ref{
    font-family: 'PT Serif', serif;
    color: #fff;
    font-size: 1.2vw;
    margin-top: 19px;
}

.toile-display-verse{
    text-align: justify;
}

.toile-display-ref{
    text-align: right;
}

.toile-display-img{
    width: 100%;
}

.toile-display-img a{
    width: 50%;
}

.toile-display-img figure{
    display: flex;
    width: 100%;
    justify-content: center;
}

.toile-display-img img{
    width: 64%;
    object-fit: scale-down;
}

.chosePainting{
    cursor: pointer;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-image: url("./../images/bois.png");
    background-size: contain;
    background-repeat-y: no-repeat;
    background-position-y: bottom;
}

@media (min-width: 770px) and (max-width: 1023px) {
    html, body, #app {
        height: 150%;
    }

    body {
        background-size: auto;
    }

    .header-toile-flex h1, .header-toile-flex p {
        font-size: 4vw;
    }

    header-toile-flex-div figure {
        width: 16%;
    }

    .loading {
        font-size: 4.5vw;
        height: 50%;
    }

    .container-home-rules {
        font-size: 2vw;
        margin-top: 28px;
    }

    .toile-display {
        align-items: normal;
    }

    .toile-display-flex {
        flex-direction: column;
        align-items: center;
    }

    .toile-display-flex-item {
        width: 55%;
        padding: 42px 20px;
    }

    .toile-display-verse, .toile-display-ref {
        font-size: 2vw;
    }

    .footer {
        background-size: cover;
    }
}

@media (max-width: 769px) {
    html, body, #app {
        height: 153%;
    }

    body {
        background-size: auto;
    }

    .header-toile-flex {
        justify-content: space-between;
    }

    .header-toile-flex-div figure {
        width: 58%;
    }

    .header-toile-flex .item {
        width: initial;
    }

    .header-toile-flex h1, .header-toile-flex p {
        font-size: 6vw;
    }

    .loading {
        font-size: 5vw;
        height: 50%;
        margin-top: 0px;
    }


    .toile-display {
        align-items: normal;
    }

    .toile-display-flex {
        flex-direction: column;
        align-items: center;
    }

    .container-home-rules {
        font-size: 2.8vw;
        margin-top: 25px;
    }

    .toile-display-img a {
        width: 34%;
    }

    .toile-display-verse, .toile-display-ref {
        font-size: 2.8vw;
    }

    .toile-display-flex {
        justify-content: initial;
    }

    .toile-display-flex-item {
        width: 100%;
        padding: 26px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}